#background-wrap {
	height: 100%;
    	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
}

/* KEYFRAMES */
@keyframes animateBubble {
    0% {
		visibility: visible;
        margin-top: 100%;
        margin-left:0px;
    }
    100% {
        margin-top: -100%;
        margin-left:50px;
		visibility: hidden;
    }
}

/* OBJECTS */
.bubble {
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	
    height: 200px;
	position: absolute;
	width: 200px;

	visibility: hidden;
	animation: animateBubble 15s linear;
	animation-iteration-count: 1;
}

.bubble:after {
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 70%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.5)), color-stop(70%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	
	content: "";
    height: 180px;
	left: 10px;
	position: absolute;
	width: 180px;
}

/* ANIMATIONS */
.x1 {
	left: -5%;
	top: 5%;
	
	transform: scale(0.6);
}

.x2 {
	left: 5%;
	top: 80%;
	
	transform: scale(0.4);
}

.x3 {
	left: 10%;
	top: 40%;
	
	transform: scale(0.7);
}

.x4 {
	left: 20%;
	top: 0;
	
	transform: scale(0.3);
}

.x5 {
	left: 30%;
	top: 50%;
	
	transform: scale(0.5);
}

.x6 {
	left: 50%;
	top: 0;
	
	transform: scale(0.8);
}

.x7 {
	left: 65%;
	top: 70%;
	
	transform: scale(0.4);
}

.x8 {
	left: 80%;
	top: 10%;
	
	transform: scale(0.3);
}

.x9 {
	left: 90%;
	top: 50%;
	
	transform: scale(0.6);
}

.x10 {
	left: 80%;
	top: 80%;

	transform: scale(0.3);
}